_site*
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
node_modules
*.log
.DS_Store
*.orig
package-lock.json
.env
_data/*.csv
_data/*.json
_includes/css.html
assets/css/*.min.*
assets/favicons
*.webp
_includes/favicon.html
faviconData.json
_configs