{
  "extends": "stylelint-config-recommended",
  "rules": {
    "indentation": 2,
    "no-descending-specificity": null,
    "font-family-no-missing-generic-family-keyword": null,
    "at-rule-no-unknown": null,
    "unit-no-unknown": null
  }
}