{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
  {% endif %}
{% endfor %}
<footer>
  <div class="container-fluid py-4 footer bg-brand-primary-light">
    <div class="d-flex justify-content-center mb-3">
      <amp-img src="{{ settings.seal }}" class="justify-content-center" width="150" height="150"></amp-img>
    </div>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="/how-to-apply/">How To Apply</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tuition/">Tuition</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/students/">Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/how-to-apply/">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact/">Contact</a>
      </li>
    </ul>
  </div>
  <div class="text-center bg-brand-primary-dark">
    <small class="text-muted">
      Copyright © {{ site.time | date: '%Y' }} {{ settings.footer_text | liquify }}
    </small>
  </div>
</footer>