{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key == site.key %}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
<!-- htmllint preset="none" -->
{% if site.baseurl == '/amp' %}
<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
{% else %}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{ school.google_tag_manager }}');</script>
  <!-- End Google Tag Manager -->
{% endif %}
<!-- htmllint preset="$previous" -->
